.btn5 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  background: #8facbf;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
}

.btn5:hover {
  background: #ccdee8;
  text-decoration: none;
}